/* html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
} */

/* 👇👇👇 reset css のうち こいつが悪さしていたみたいです。 👇👇👇 */
/* また、chakra ui の reset css は https://github.com/chakra-ui/chakra-ui/blob/main/packages/css-reset/src/css-reset.tsx ここから確認できます！ */
svg {
  display: unset !important;
}
